@*@model IQueryable<Drink>*@
@model ProductsListViewModel;
    <html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>DrinkStores</title>
        <link rel="stylesheet" href="~/css/stylet.css">
    </head>
    <body>
        <header class="drinkstores">Drink Stores</header>
        <hr>
        <div class="box-product">
            @foreach (var p in Model.Drinks)
            {
                <partial name="ProductsSummary" model="p"/>
                //p được truyền sang ProductsSummary bằng model
            }
        </div>

        <div page-model="@Model.PagingInfo" page-action="Index" 
             page-classes-enabled="true"
             page-class="btn" page-class-normal="btn-outline-dark"
             page-class-selected="btn-primary" 
             page-url-category="@Model.CurrentCategory"
             class="btn-group pull-right m-1"></div>
    </body>
    </html>



